.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#colorChangeBtn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.calculator-input {
    text-align: center;
    margin-bottom: 20px;
}


